/* Generella inställningar för styling. */

body {
    background-image: url("backgroundgreen.jpg");
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Text-styling för classerna largeHeading, mediumHeading och shortText. */

.largeHeading {
    color: darkolivegreen;
    text-align: center;
    font-family: "Sofia";
    font-size: 100px;
    text-shadow: 3px 3px #ffffff;
}

.mediumHeading {
    color: rgb(63, 37, 11);
    text-align: center;
    font-family: "Sansita";
    font-size: 40px;
    text-shadow: 1px 1px #ffffff;
}

.shortText {
    color: rgb(63, 37, 11);
    text-align: center;
    font-family: "Sansita";
    font-size: 20px;    
}

/* Styling för class list */

.list {
    list-style: inside;
    list-style-type: circle;
}

/* Styling för den övre flexboxen som innehåller "Vindagårdens vänner" och "Besök oss på Instagram */

.upperContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

/* Styling för den vänstra item (vindagårdens vänner) och dess länk */

.leftContainer {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
 }

a:link {
    color: #3F250B
}

a:visited {
    color: darkolivegreen
}

a:hover {
    color: black
}

/* Styling för högra item (besök oss på Instagram), samma inställningar för länken */

.rightContainer{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
 }

 /* Styling för den undre containern där bilderna ligger. */

.picContainer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

/* Storlek för bilderna (item) i picContainer. */

img {
    width: 30%;
    position: relative;
    border: 5px solid darkolivegreen;
    border-radius: 5%;
    box-shadow: 8px 8px 5px #1d160f;
}

/* Styling för knappen längst ner som kommer länka till portfolio. */

.button {
    background-color: rgb(63, 37, 11);
    font-family: "Sansita";
    border: none;
    color: rgba(255, 255, 255, 0.781);
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 150px;
    text-align: center;
    font-size: 32px;
    border-radius: 12px;
}






